vendor
composer.phar
composer.lock
phpunit.phar
phpunit.log
tests/report
.DS_Store
.php_cs.cache
.hg
.vscode
tmp
clover.xml
.phpunit.result.cache
.coverage.xml
src/SimpleCache/Driver/Apc.php
src/SimpleCache/Driver/Apcu.php
src/SimpleCache/Driver/Memcache.php
src/SimpleCache/Driver/Memcached.php
tests/SimpleCache/Driver/ApcuTest.php